
  h1,h2,p{
    text-align: center;
  }

  .photo img{
    width:60%;
    display:block;
    margin:auto;
  }

  .photo-one img {
    width:100%

  }


  .nav h2{
    width:90%;
    background-color:ghostwhite;
    margin:auto;

  }



@media (min-width: 768px){
  h1 {
    text-align:center;
  }

  .nav {
    text-align:center;
  }

  .nav h2{
    display:inline;
    width:60%;
    margin:20px;
  }

  .photo img {
    width:50%;
  }

  .left {
    float:left;
    width:30%;
    padding:1em;

  }

  .right {
    float:right;
    width:30%;
    padding:1em;

  }

  .col {
    dislay:inline-block;
    vertical-align:top;
  }



}

  body {
    font-family: 'Slabo 27px', serif;
  }
